$background: #fff;
$color: #202124;
$border_light: #f8f9fa;
$border_dark: #202124;
$bttn_color: #f8f9fa;
$font: arial,sans-serif;

.gray_bttn {
    background-color: $bttn_color;
    font-family: $font;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid $border_light;
}

.gray_bttn:hover {
    border: 1px solid $border_dark;
}


.flex-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}


h1 {
    text-align: center;
    font-size: xx-large;
    font-family: $font;
}

.searchbar {
    line-height: 20px;
    width: 300px;
    border: 1px solid $border_dark;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 16px;
}

.header_nav {
    text-align: right;
    font-family: $font;
    font-size: small;

}