{% extends "auctions/layout.html" %}

{% block title %} Categories {% endblock %}

{% block body %}
{% for category in categories %}
    <h1>{{ category }}</h1>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category }}" aria-expanded="false" aria-controls="{{ category }}">
          {{ category }}
        </button>
      </p>
      <div class="collapse" id="{{ category }}">
        <div class="category-view">
          {% for item in items %}
              {% if item.category == category %}
              <a class="all-card-link" href="{% url 'listing' item.pk %}">
                <div class="card" style="width: 8rem;">
                  <h5 class="card-titel">{{ item.title }}</h5>
                  <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                  <div class="card-body">
                  <p class="card-text">{{ item.description }}</p>
                  </div>
                </div>
                </a>
              {% endif %}
          {% endfor %}
        </div>
      </div>
{% endfor %}
{% endblock %}