{% extends "auctions/layout.html" %}

{% block title %} Categories {% endblock %}

{% block body %}
<nav>
<ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
  {% for category in categories %}
  <li class="nav-item ml-4 mr-4" role="presentation">
    <button class="btn btn-primary nav-link" id="pills-{{ category }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ category }}" type="button" role="tab" aria-controls="pills-{{ category }}" aria-selected="false">{{ category }}</button>
  </li>
  {% endfor %}
</ul>
</nav>
<div class="tab-content" id="pills-tabContent">
  {% for category in categories %}
  <div class="tab-pane" id="pills-{{ category }}" role="tabpanel" aria-labelledby="pills-{{ category }}-tab" tabindex="0">
    <div class="listings">   
    {% for item in items %}
      {% if item.category == category and item.is_active %}
      <a class="full-card-link" href="{% url 'listing' item.pk %}">
        <div class="listing-item">
            <div class="item-img">
              <img src="{{ item.image }}" alt="{{ item.title }}">
            </div>
            <div class="item-detailes">
              <div class="item-title">{{ item.title }}</div>
              <div class="item-price">Price: ${% if item.current_bid %}{{ item.current_bid }}{% else %}{{ item.starting_price }}{% endif %}</div>
                <p class="item-text">{{ item.description }}</p>
                <p class="item-text"><small class="text-body-secondary">Created: {{ item.date_created.date }}</small></p>
            </div>  
        </div>
        </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}





