{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <table>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <img scr="{{ item.image }}" alt="{{ item.title }}" width="100" hight="100"> 
                </td>
                <td> 
                    <a href="{% url 'listing' item.id %}"> <h3>{{ item.title }}</h3> </a>
                    <h6> Price: ${{ item.starting_bid }}</h6>
                    <h6>Sold by: {{ item.seller }}</h6>
                    <p> {{ item.description }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    TODO
{% endblock %}