{% extends "auctions/layout.html" %}

{% block title %} Listing {% endblock %}

{% block body %}
<div>
    <div>
        <h1> {{ path }}</h1>
        <form action="{% url 'listing' item.pk %}", method="post">
            {% csrf_token %}
            <input type="hidden" name="watch_form">
            {% if watching %}
            <button type="submit", name="item_id", value="{{ item.id }}", class=" btn btn-danger btn-sm">Watching</button>
            {% else %}
            <button type="submit", name="item_id", value="{{ item.id }}", class=" btn btn-primary btn-sm">Watch</button>
            {% endif %}
        </form>
    </div>
    <div> <img scr="{{ item.image }}" alt="{{ item.title }}"></div>
    <div> 
        <h1> {{ item.title }}</h1>
        <h3> {{ item.description }}</h3>
    </div>
</div>
<div>
    <div class="show_comments">
        <ul>
        {% for comment in comments %}
        <li> {{ comment }} </li>
        {% empty %}
        <li> No comments </li>
        {% endfor %}
    </div>
    <div>
        <form action="{% url 'listing' item.pk %}", method="post">
            <input type="hidden" name="comment_form"> 
            {% csrf_token %}
            {{ new_comment }}
            <input type="submit" class="btn-primary" value="comment">
        </form>
    </div>
</div>
{% endblock %}