{% extends "auctions/layout.html" %}

{% block title %} Watchlist {% endblock %}

{% block body %}
<h2>Wathclist</h2>
<div class="listings">  
    {% for item in items %}
    {% if item.is_active %}
    <a class="full-card-link" href="{% url 'listing' item.pk %}">
        <div class="listing-item">
            <div class="item-img">
              <img src="{{ item.image }}" alt="{{ item.title }}">
            </div>
            <div class="item-detailes">
                <div class="item-btn-group">
                <form action="{% url 'watchlist' %}", method="post">
                    {% csrf_token %}
                    <input type="hidden" name="watch_form">
                    <button type="submit", name="item_id", value="{{ item.id }}", class="btn btn-warning btn-sm">Remove</button>
                </form>
                </div>
              <div class="item-title">{{ item.title }}</div>
              <div class="item-price">Price: ${% if item.current_bid %}{{ item.current_bid }}{% else %}{{ item.starting_price }}{% endif %}</div>
                <p class="item-text">{{ item.description }}</p>
                <p class="item-text"><small class="text-body-secondary">Created: {{ item.date_created.date }}</small></p>
            </div>  
        </div>
        </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

